body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1; 
  }

textarea {
    background: transparent;
    font-size: 18px;
    resize: none;   /* takes away the resize tab that would normally appear */
    color: #000000;
    vertical-align: middle;
    border-left: 1px solid black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .col-sm-9 {
    padding-left: 2px;
    padding-right: 0px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: lavenderblush;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .row {
    white-space: pre-wrap;
    height: 40px;
    border-top: 2px solid white;
    margin: 40px;
  }
  
   .col-sm-1 {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    text-align: center;
    max-width: 5%;
    margin: 0 auto;
    margin-right: 10px;
    padding-right: 20px;
    padding-top: 5px;
    border-bottom-width: 20px;
    ;
  } 
  
  #past {
    background-color: #e8eaec;
  }
  
  #present {
    background-color: lavenderblush;
  }
  
  #future {
    background-color:#ace9dd;
  }

  .col-sm-2{
    padding-left: 0px;
    padding-bottom: 10px;
  }

  .saveBtn {
    border: 2px solid whitesmoke;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:#e3c256;
    color: white;
    max-width: 10%;
    height: 80px;
    margin: 0 auto;
    padding-right:40px;
    padding-left: 20px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }


footer {
  background-color: #637986;
  color: lavenderblush;
  text-align: center;
  border: 2px solid lavenderblush;
  margin-top: 100px;
  padding: 10px;
}